#root {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;

  & > header {
    margin-bottom: 25px;
  }

  & > main {
    & p,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      margin: revert;
    }
  }
}
