#root {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

#root header {
  margin-bottom: 25px;
}

#posts article {
  display: grid;
  column-gap: 10px;
  grid-template:
    "title date" auto
    "desc desc" auto
    / fit-content(100%) auto;
}

#posts h3 {
  grid-area: title;
}

#posts span {
  grid-area: date;
}

#posts p {
  grid-area: desc;
}
